Repository perushevandkhmelev-agency/next-starter: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, typecheck, eslint

stylelint:
  run: yarn stylelint {staged_files}

typecheck:
  run: yarn type-check

eslint:
  run: yarn eslint {staged_files}

Test
  .mega-linter.yml
  .prettierrc.json
  .stylelintrc.json
  pages/index.tsx
Due: stylelint, typecheck, eslint

Init
  .github/actions/deps-restore/action.yml
  .github/workflows/linter.yml
  .github/workflows/main.yml
Due: none

Test
  .github/workflows/linter.yml
  pages/index.tsx
Due: stylelint, typecheck, eslint

Test slim
  .github/workflows/linter.yml
Due: none

Test ts
  .github/workflows/linter.yml
Due: none

Added reviewdog
  .github/actions/deps-restore/action.yml
  .github/workflows/main.yml
  .github/workflows/reviewdog.yml
  lefthook.yml
  package.json
  yarn.lock
Due: none

Added reviewdog (#37)
  .github/actions/deps-restore/action.yml
  .github/workflows/main.yml
  .github/workflows/reviewdog.yml
  lefthook.yml
  package.json
  yarn.lock
Due: none

Fixed type for html prop setHTML util
  utils/setHTML.ts
Due: stylelint, typecheck, eslint

Added declaration-no-important for stylelint
  .stylelintrc
  package.json
Due: none

Updated github actions
  .github/workflows/code-checks.yml
  .github/workflows/pr-checks.yml
  gulpfile.babel.js
  utils/generatePossibleTypes.js
Due: stylelint

Added linebreak-style eslint rule
  .eslintrc.json
Due: none

Removed next-compose-plugins & next-images
  next-env.d.ts
  next.config.js
  package.json
  yarn.lock
Due: stylelint, typecheck, eslint

Removed polished
  package.json
  yarn.lock
Due: none

Removed isomorphic-unfetch & graphql
  package.json
  utils/apolloClient.ts
  utils/generatePossibleTypes.js
  yarn.lock
Due: stylelint, typecheck, eslint

Added new base styles
  @types/styled.d.ts
  package.json
  pages/_app.tsx
  pages/index.tsx
  utils/styles/baseStyles.tsx
  utils/styles/globalStyles.tsx
  utils/styles/index.tsx
  yarn.lock
Due: stylelint, typecheck, eslint

Added focus-visible
  package.json
  pages/_app.tsx
  utils/styles/globalStyles.tsx
  yarn.lock
Due: stylelint, typecheck, eslint

Updated next.js to v13.0.0 & react to v18.2.0
  package.json
  yarn.lock
Due: none

Add sanitizing HTML code to setHTML
  package.json
  utils/setHTML.ts
  yarn.lock
Due: stylelint, typecheck, eslint

Refactoring
  pages/_app.tsx
  styles/base/globals.scss
  styles/base/icons.scss
  styles/config/_sr.scss
Due: stylelint, typecheck, eslint

Refactoring
  .stylelintignore
Due: none

Fix name branch
  .github/workflows/code-checks.yml
  .github/workflows/pr-checks.yml
  ecosystem.json
Due: none

Add graphql-codegen
  __generated__/globalTypes.ts
  __generated__/possibleTypes.json
  apollo.config.js
  codegen.ts
  package.json
  scripts/generatePossibleTypes.js
  yarn.lock
Due: stylelint, typecheck, eslint

Revert next-env.d.ts
  .gitignore
  next-env.d.ts
Due: stylelint, typecheck, eslint

Refactoring
  styles/base/preflight.scss
Due: none

Update next to v14.1.0
  next.config.js
  package.json
  yarn.lock
Due: stylelint

Update next to v14.1.4, add husky
  .github/workflows/code-checks.yml
  .github/workflows/pr-checks.yml
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  .prettierrc
  .prettierrc.js
  .stylelintrc
  components/.gitkeep
  components/Meta.tsx
  package.json
  pages/_app.tsx
  yarn.lock
Due: stylelint, typecheck, eslint

Add tailwindcss version
  .github/workflows/code-checks.yml
  .prettierrc.js
  .stylelintignore
  .stylelintrc
  next.config.ts
  package.json
  postcss.config.js
  src/assets/fonts/icon/icon.ts
  src/assets/fonts/icon/icon.woff
  src/assets/fonts/icon/icon.woff2
  src/components/Icon.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/base/fonts.scss
  src/styles/base/globals.scss
  src/styles/base/preflight.scss
  src/styles/components/.gitkeep
  src/styles/config/_breakpoints.scss
  src/styles/config/_hover.scss
  src/styles/config/_icons.scss
  src/styles/config/_placeholder.scss
  src/styles/config/_sr.scss
  src/styles/config/mixins.scss
  src/styles/config/variables.scss
  src/styles/globals.css
  src/styles/icon-codes.css
  src/styles/pages/Home.module.scss
  tailwind.config.js
  yarn.lock
Due: stylelint, typecheck, eslint

Update packages
  next-env.d.ts
  package.json
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
  tailwind.config.ts
  tsconfig.json
  yarn.lock
Due: stylelint, typecheck, eslint

Add hoverOnlyWhenSupported
  src/assets/img/.gitkeep
  src/assets/img/next.svg
  tailwind.config.ts
Due: stylelint, typecheck, eslint

Add tailwindcss version (#40)
  .github/workflows/code-checks.yml
  .prettierrc.js
  .stylelintignore
  .stylelintrc
  next-env.d.ts
  next.config.ts
  package.json
  postcss.config.js
  src/assets/fonts/icon/icon.ts
  src/assets/fonts/icon/icon.woff
  src/assets/fonts/icon/icon.woff2
  src/assets/img/.gitkeep
  src/assets/img/next.svg
  src/components/Icon.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/base/fonts.scss
  src/styles/base/globals.scss
  src/styles/base/preflight.scss
  src/styles/components/.gitkeep
  src/styles/config/_breakpoints.scss
  src/styles/config/_hover.scss
  src/styles/config/_icons.scss
  src/styles/config/_placeholder.scss
  src/styles/config/_sr.scss
  src/styles/config/mixins.scss
  src/styles/config/variables.scss
  src/styles/globals.css
  src/styles/icon-codes.css
  src/styles/pages/Home.module.scss
  tailwind.config.ts
  tsconfig.json
  yarn.lock
Due: stylelint, typecheck, eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Update dependencies
  next.config.ts
  package.json
  postcss.config.js
  src/components/Meta.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/globals.css
  src/styles/icon.css
  src/styles/js-focus-visible.css
  src/styles/nprogress.css
  tailwind.config.ts
  yarn.lock
Due: stylelint, typecheck, eslint

Update dependencies
  .nvmrc
  next-env.d.ts
  next.config.ts
  package.json
  postcss.config.mjs
  yarn.lock
Due: stylelint, typecheck, eslint

Rename gulpfile.babel.js to gulpfile.js
  gulpfile.js
Due: stylelint

Add pnpm
  .github/workflows/code-checks.yml
  .gitignore
  .husky/pre-commit
  README.md
  ecosystem.config.js
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: stylelint, typecheck, eslint

Install pnpm using action-setup in code-checks.yml
  .github/workflows/code-checks.yml
Due: none

Path conditions:
  stylelint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
