Repository perushevandkhmelev-agency/next-starter: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, typecheck, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    stylelint:
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn stylelint {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn type-check
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn eslint {staged_files}

Remove NODE_ENV=production from post-deploy pm2 command
  ecosystem.json
Due: none

Update eslint-config-pk-standard to v1.0.2
  .eslintrc
  package.json
  yarn.lock
Due: none

Refactoring
  components/ApolloPostsExample.tsx
  components/HTMLText.tsx
  components/Icon.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  utils/apolloClient.ts
  utils/meta.tsx
Due: stylelint, typecheck, eslint

Fix url iconsServer
  package.json
Due: none

Add dom.iterable & esnext at tsconfig
  tsconfig.json
Due: none

Add RootThemeProvider
  pages/_app.tsx
  pages/index.tsx
  utils/styles.tsx
Due: stylelint, typecheck, eslint

Add media notTouchScreen
  utils/styles.tsx
Due: stylelint, typecheck, eslint

Add eslint-webpack-plugin, stylelint-webpack-plugin & fork-ts-checker-webpack-plugin
  next.config.js
  package.json
  yarn.lock
Due: stylelint

Update next to 10.2.3
  package.json
  yarn.lock
Due: none

Remove lint webpack plugins
  next.config.js
  package.json
  yarn.lock
Due: stylelint

Refactoring HTMLText
  components/HTMLText.tsx
Due: stylelint, typecheck, eslint

Remove babel-plugin-module-resolver
  .babelrc
  components/Icon.tsx
  package.json
  tsconfig.json
  yarn.lock
Due: stylelint, typecheck, eslint

Update apollo config
  package.json
  pages/_app.tsx
  utils/apolloClient.ts
  yarn.lock
Due: stylelint, typecheck, eslint

Remove custom polyfills
  .babelrc
  next.config.js
  package.json
  polyfills.js
  yarn.lock
Due: stylelint

Update styled-components to 5.3.0 & polished to 4.1.3
  package.json
  yarn.lock
Due: none

Update stylelint config
  .stylelintrc
  package.json
  yarn.lock
Due: none

Update eslint config
  .eslintrc
  package.json
  yarn.lock
Due: none

Update typescript to 4.3.2
  package.json
  yarn.lock
Due: none

Fix iconsSave function error about task did not complete
  gulpfile.babel.js
Due: stylelint

Refactoring styles
  utils/meta.tsx
  utils/styles.tsx
Due: stylelint, typecheck, eslint

Add generate graphql types with apollo codegen
  .gitignore
  README.md
  __generated__/globalTypes.ts
  __generated__/possibleTypes.json
  apollo.config.js
  components/ApolloExample.tsx
  config.js
  package.json
  schemas/__generated__/newsItems.ts
  schemas/news.ts
  schemas/posts.ts
  tsconfig.json
  utils/apolloClient.ts
  utils/generatePossibleTypes.js
  yarn.lock
Due: stylelint, typecheck, eslint

Replace interface MetaProps on HelmetProps
  utils/meta.tsx
Due: stylelint, typecheck, eslint

Add createBreakpoints
  pages/index.tsx
  utils/styles.tsx
  utils/styles/createBreakpoints.ts
  utils/styles/index.tsx
Due: stylelint, typecheck, eslint

Add declarations file for styled-components theme
  @types/styled.d.ts
Due: stylelint, typecheck, eslint

Add forwardRef for HTMLText
  components/HTMLText.tsx
Due: stylelint, typecheck, eslint

Add SrOnly
  utils/styles/index.tsx
Due: stylelint, typecheck, eslint

Add SrOnly (#26)
  utils/styles/index.tsx
Due: stylelint, typecheck, eslint

Fix export SrOnly
  utils/styles/index.tsx
Due: stylelint, typecheck, eslint

Fix export SrOnly (#27)
  utils/styles/index.tsx
Due: stylelint, typecheck, eslint

Updated dependencies (next v12)
  .babelrc
  .eslintrc
  .eslintrc.json
  .gitignore
  components/ApolloExample.tsx
  components/HTMLText.tsx
  components/Icon.tsx
  next-env.d.ts
  next.config.js
  package.json
  pages/_app.tsx
  schemas/__generated__/.gitkeep
  schemas/__generated__/newsItems.ts
  schemas/news.ts
  tsconfig.json
  utils/setHTML.ts
  utils/styles/globalStyles.tsx
  yarn.lock
Due: stylelint, typecheck, eslint

Removed lodash join from setHTML
  utils/setHTML.ts
Due: stylelint, typecheck, eslint

Enabled experimental scrollRestoration & modularizeImports for lodash from next
  next.config.js
Due: stylelint

Updated stylelint to v14
  .stylelintrc
  package.json
  yarn.lock
Due: none

Fixed static images for next-images
  next-env.d.ts
  next.config.js
Due: stylelint, typecheck, eslint

Updated prettier & lefthook
  .prettierrc
  package.json
  yarn.lock
Due: none

Added github lint actions
  .github/actions/deps-restore/action.yml
  .github/workflows/main.yml
Due: none

Added mega-linter
  .github/actions/deps-restore/action.yml
  .github/workflows/main.yml
  .github/workflows/mega-linter.yml
  .mega-linter.yml
  lefthook.yml
Due: none

Removed lefthook
  lefthook.yml
  package.json
  yarn.lock
Due: none

Test
  pages/index.tsx
Due: stylelint, typecheck, eslint

Fixed
  .github/workflows/mega-linter.yml
Due: none
